/* general */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cairo&family=Iceland&display=swap');

html {
  background-image: url("https://cdn.pixabay.com/photo/2017/12/24/21/08/secret-3037639_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  font-family: "Audiowide", cursive;
  box-sizing: border-box;
  height: auto;
}
#app {
  margin-top: 1%;
  font-size: 2rem;
}
@media (max-width: 580px) {
  #app {
    font-size: 1rem;
  }
}
/* Title */
.intro {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(183, 21, 64, 0.6);
  margin: 0 15%;
  padding: 0 2%;
}
h1 {
  color: black;
}
.intro p {
  text-align: justify;
  font-family: "Iceland", cursive;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* box converter */
.work {
  margin: 5% auto;
  background: rgba(229, 142, 38, 0.8);
  padding: 0%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
  margin-bottom: 50px;
  width: 80%;
}
.editor {
  position: relative;
  width: 45%;
}
#editor {
  min-height: 200px;
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-size: 1.5rem;
}
.preview {
  position: relative;
  width: 45%;
}
#preview {
  font-size: 1rem;
  color: black;
  text-align: left;
}
@media(max-width: 580px){
  .work {
    padding: 0%;
    flex-direction: column;
  }
  .editor {
    width: 100%;
  }
  #editor {
    min-height: 50px;
    font-size: 1rem;
  }
  .preview {
    position: relative;
    width: 100%;
    text-align: center;


  }

  #preview {
    font-size: 0.8rem;
    margin: 0% 1% 2% 1%;
    font-family: 'Cairo', sans-serif;
  }
  h6{
    margin:2%;
  }
}

/* footer */
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: black;
  color: rgb(218, 218, 218);
  text-align: right;
  padding: 10px;
}
@media (max-width: 580px) {
  footer {
    font-size: 0.75rem;
  }
}
